<div class="flex items-center justify-center h-screen gap-x-4">

 <div class="flex gap-x-10 items-center">
  <div style="height: 36px; width: 36px;" class="rounded-full bg-primaryRed flex justify-center items-center"><span class="text-white font-bold">&lt;</span></div>
  <div class="bg-white grid gap-y-6" style="width: 245px;">
    <form (ngSubmit)="getPokemonByName()" #pokemonForm="ngForm">
      <div class="flex gap-x-2">
        <input type="text" class="bg-inputGrey border border-borderPrimaryRed text-gray-900 text-sm rounded focus:ring-borderPrimaryRed focus:border-borderPrimaryRed block w-full p-1.5" [(ngModel)]="pokemonName" name="textoEntrada" placeholder="Bulbasaur" required />
        <button class="bg-primaryRed hover:bg-borderPrimaryRed text-white font-regular py-1.5 px-4 rounded">
          Buscar
        </button>
      </div>
    </form>
    <div *ngIf="card">
      <img style="height: 342px; " [src]="card.images" class="max-w-full max-h-full rounded-lg tilt-box">
      <span class="text-xs font-semibold">Artista:<span class="font-bold "> {{card.artist}}</span></span>
    </div>
    <img [ngClass]="card ? 'hidden': ''" src="../assets/card_back.png" class="max-w-full max-h-full">
  </div>
  <div>
    <div style="height: 36px; width: 36px;" class="rounded-full bg-primaryRed flex justify-center items-center"><span class="text-white font-bold">&gt;</span></div>
 </div>
  </div>
</div>
